@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,800");
/* line 33, ../sass/style.sass */
.b {
  color: #2a4b9a;
}

/* line 35, ../sass/style.sass */
.g {
  color: #5ab12d;
}

/* line 38, ../sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 41, ../sass/style.sass */
html {
  font-size: 24px;
}

/* line 44, ../sass/style.sass */
body {
  position: relative;
  cursor: crosshair;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  font-weight: 400;
}

/* line 56, ../sass/style.sass */
p {
  margin: 0;
}

/* line 58, ../sass/style.sass */
ul, li {
  padding: 0;
  margin: 0;
}

/* line 61, ../sass/style.sass */
figure {
  margin: 0;
}

/* line 66, ../sass/style.sass */
h1 {
  font-family: "Montserrat", "free-sans", "sans-serif";
  font-weight: 800;
  font-size: 2rem;
}

/* line 66, ../sass/style.sass */
h2 {
  font-family: "Montserrat", "free-sans", "sans-serif";
  font-weight: 800;
  font-size: 1.75rem;
}

/* line 66, ../sass/style.sass */
h3 {
  font-family: "Montserrat", "free-sans", "sans-serif";
  font-weight: 800;
  font-size: 1.5rem;
}

/* line 66, ../sass/style.sass */
h4 {
  font-family: "Montserrat", "free-sans", "sans-serif";
  font-weight: 800;
  font-size: 1.25rem;
}

/* line 66, ../sass/style.sass */
h5 {
  font-family: "Montserrat", "free-sans", "sans-serif";
  font-weight: 800;
  font-size: 1rem;
}

/* line 66, ../sass/style.sass */
h6 {
  font-family: "Montserrat", "free-sans", "sans-serif";
  font-weight: 800;
  font-size: 0.85rem;
}

/* line 69, ../sass/style.sass */
small {
  font-size: 0.8em;
}

/* line 73, ../sass/style.sass */
img {
  max-width: 100%;
  height: auto;
}

/* line 77, ../sass/style.sass */
iframe {
  max-width: 100%;
}

/* line 81, ../sass/style.sass */
li {
  list-style: none;
}

/* line 86, ../sass/style.sass */
section[id^='slide-'] {
  width: 100vw;
  height: 100vh;
  position: relative;
  padding: 80px;
  *zoom: 1;
  display: table;
}
/* line 21, ../sass/style.sass */
section[id^='slide-']:before, section[id^='slide-']:after {
  content: " ";
  display: table;
}
/* line 25, ../sass/style.sass */
section[id^='slide-']:after {
  clear: both;
}
/* line 93, ../sass/style.sass */
section[id^='slide-'] p {
  font-size: 1.75em;
}

/* line 96, ../sass/style.sass */
div.right {
  width: 40vw;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  float: right;
}

/* line 102, ../sass/style.sass */
div.center {
  width: 50vw;
  margin: 0 auto;
  display: table-cell;
  vertical-align: middle;
}

/* line 107, ../sass/style.sass */
div.left {
  width: 40vw;
  display: table-cell;
  vertical-align: middle;
  float: left;
}

/* line 113, ../sass/style.sass */
#slide-1 {
  background: url("../imgs/ale.png") no-repeat center center/25% auto;
}
/* line 115, ../sass/style.sass */
#slide-1 .hashtag {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: calc(100% - 160px);
  margin: 0;
}

/* line 122, ../sass/style.sass */
#slide-2,
#slide-4 {
  background: url("../imgs/Hackaton.jpg") no-repeat left top/auto 100vh;
  text-align: right;
}

/* line 127, ../sass/style.sass */
#slide-4 .hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

/* line 130, ../sass/style.sass */
#slide-4 strong:hover {
  color: white;
}

/* line 132, ../sass/style.sass */
#slide-4 strong:hover + .hidden {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/* line 134, ../sass/style.sass */
#slide-4 .note {
  font-size: 30px;
}

/* line 137, ../sass/style.sass */
#slide-3 {
  background: url("../imgs/coco.jpg") no-repeat left center/40vw auto;
}

/* line 140, ../sass/style.sass */
#slide-5 {
  background: url("../imgs/wtf.gif") repeat;
}

/* line 143, ../sass/style.sass */
#slide-5 h1 {
  color: white;
  text-shadow: 0 0 10px black;
}

/* line 147, ../sass/style.sass */
#slide-6 {
  background: url("../imgs/ciclo-convencional.png") no-repeat 90% center/auto 75vh;
}
/* line 149, ../sass/style.sass */
#slide-6 h3 {
  max-width: 200px;
}

/* line 152, ../sass/style.sass */
#slide-7 {
  background: url("../imgs/ciclo-convencional-alt.png") no-repeat 90% center/auto 75vh;
}
/* line 154, ../sass/style.sass */
#slide-7 h3 {
  max-width: 200px;
}

/* line 157, ../sass/style.sass */
#slide-9 {
  background: url("../imgs/ciclo-soft-libre.png") no-repeat center center/auto 75vh;
}
/* line 159, ../sass/style.sass */
#slide-9 h3 {
  max-width: 400px;
}

/* line 162, ../sass/style.sass */
#slide-10 {
  background: url("../imgs/comunidades.png") no-repeat center center/auto 75vh;
}
/* line 164, ../sass/style.sass */
#slide-10 h2 {
  mix-blend-mode: multiply;
}

/* line 167, ../sass/style.sass */
#slide-12 {
  background: url("../imgs/github.png") no-repeat left top/cover;
}
/* line 169, ../sass/style.sass */
#slide-12 h2 {
  mix-blend-mode: multiply;
}
/* line 171, ../sass/style.sass */
#slide-12 .right {
  font-size: 20px;
  position: absolute;
  right: 80px;
  bottom: 80px;
}

/* line 177, ../sass/style.sass */
#slide-14 {
  background: url("../imgs/m-for-the-arts.jpg") no-repeat left top/contain;
}
/* line 179, ../sass/style.sass */
#slide-14 div {
  max-width: 300px;
}

/* line 182, ../sass/style.sass */
#slide-15 {
  background: url("../imgs/hansa.jpg") no-repeat left top/contain;
}
/* line 184, ../sass/style.sass */
#slide-15 div {
  max-width: 300px;
}

/* line 187, ../sass/style.sass */
#slide-17 {
  background-color: #2a4b9a;
  color: white;
}

/* line 191, ../sass/style.sass */
#slide-18 {
  background: url("../imgs/freecycle.png") no-repeat left top/cover;
}
/* line 193, ../sass/style.sass */
#slide-18 h2 {
  mix-blend-mode: multiply;
}

/* line 196, ../sass/style.sass */
#slide-19 {
  background: url("../imgs/harvest.png") no-repeat left top/cover;
}
/* line 198, ../sass/style.sass */
#slide-19 .center {
  position: absolute;
  top: 60px;
  mix-blend-mode: multiply;
}

/* line 203, ../sass/style.sass */
#slide-21 {
  background: url("../imgs/grrr.png") no-repeat left top/cover;
}
/* line 205, ../sass/style.sass */
#slide-21 div {
  max-width: 400px;
  mix-blend-mode: multiply;
  margin-top: 80px;
}

/* line 210, ../sass/style.sass */
#slide-22 {
  background-color: yellow;
}
/* line 212, ../sass/style.sass */
#slide-22 img {
  width: 400px;
  margin-top: 40px;
}

/* line 216, ../sass/style.sass */
#slide-24 {
  background: url("../imgs/the-end.gif") no-repeat left top/cover;
}
